<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="fb6b6f51-39f2-410d-8cb6-f67fbe8ca9f9" Publisher="CN=Griffin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ChristmasCountdown</DisplayName>
    <PublisherDisplayName>Griffin</PublisherDisplayName>
    <Logo>Assets\Christmas Countdown Store Logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ChristmasCountdown.App">
      <VisualElements DisplayName="Christmas Countdown" Logo="Assets\Christmas Countdown Logo Icon.png" SmallLogo="Assets\Christmas Countdown Small Logo.png" Description="ChristmasCountdown" ForegroundText="light" BackgroundColor="#B22222">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\Christmas Countdown Wide Logo.png" />
        <SplashScreen Image="Assets\Christmas Countdown Splash Screen.png" BackgroundColor="#B22222" />
      </VisualElements>
    </Application>
  </Applications>
</Package>